@model List<StudentSquads.ViewModels.WorkViewModel>
@{
	ViewBag.Title = "AllWorks";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Информация по трудовому семестру</h2>

	
@if (User.IsInRole("RegionalManager"))
	{
		<a id ="js-approve" class="btn btn-warning"> Утвердить список</a>
		@*<input type="submit" name="button2" value="Вынести выговор" class="btn btn-warning" formaction="@Url.Action("Rebuke", "Works")" />*@
	}
	<a class="btn btn-warning" href="/works/workform">Создать</a>
	<a class="btn btn-warning only-changed">Показать с изменениями</a>
	<table id="works" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				<th>ФИО</th>
				<th>Отряд</th>
				<th>Штаб</th>
				<th>Работодатель</th>
				<th>Трудовой проект</th>
				<th>Начало</th>
				<th>Окончание</th>
				<th>Альтернатива</th>
				<th>Засчитана</th>
				<th>Изменения</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	@Html.AntiForgeryToken()
@section scripts
{
	<script>
		$(document).ready(function () {
		var table =	$("#works").DataTable({
				ajax: {
					url: "/api/works/allworks",
					dataSrc: ""
				},
				columns: [
					{
						data: "Id",
						render: function (data, type, work) {
							return "<a href ='/works/edit/" + work.Id + "'>" +
								"<img src='https://icons.iconarchive.com/icons/icons8/windows-8/512/Editing-Edit-icon.png' width='25' height = '25'>" + "</a>";
						}
					},
					{
						data: "FIO",
						render: function (data, type, work) {
							return "<a href ='/people/edit/" + work.PersonId + "'>" + work.FIO + "</a>";
						}
					},
					{
						data: "Squad"
					},
					{
						data: "Uni"
					},
					{
						data: "Employer"
					},
					{
						data: "WorkProject"
					},
					{
						data: "DateofBeginString"
					},
					{
						data: "DateofEndString"
					},
					{
						data: "AlternativeString"
					},
					{
						data: "Affirmed"
					},
					{
						data: "Changed",
						render: function (data, type, work) {
							if (work.Changed == true) return "Есть";
							else return "";					}
					}
				]
		});
			
			$("#js-approve").on("click", function () {
				var button = $(this);
				bootbox.confirm("Вы уверены, что хотите утвердить выездной список?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/works",
							method: "Put",
							success: function () {
								toastr.success("Список успешно утвержден");
							}

						});
					}
				});
			});
		});
	</script>
}




