@model IEnumerable<StudentSquads.Models.Member>
@{
	ViewBag.Title = "ShowAll";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Члены организации</h2>

<ul>
		@foreach (var member in Model)
		{
			<li>@member.ExitReason</li>
		}
	</ul>

