@model IEnumerable<StudentSquads.Models.Member>
@{
	ViewBag.Title = "ShowAll";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Члены организации</h2>


<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<td></td>
			<th>ФИО</th>
			<th>Отряд</th>
			<th>Статус</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var member in Model)
		{
		<tr>
			<td><input type="checkbox" id="@member.Id"></td>
			<td>@member.ExitReason</td>
			<td>@member.Squad.Name</td>
			<td>@member.Status.Name</td>
		</tr>
		}
	</tbody>
	
</table>

