
@{
	ViewBag.Title = "AllRaitingPlaces";
}

<h2>История рейтинга</h2>
<table id="raitingplaces" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Отряд</th>
			<th>Штаб</th>
			<th>Сформирован</th>
			<th>Место</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
@section scripts
{
	<script>
		$(document).ready(function () {
			//Используем плагин для поиска и сортировки
			var table = $('#raitingplaces').DataTable({
				ajax: {
					url: "/api/raitingplaces",
					dataSrc: ""
				},
				columns: [
					{
						data: "Squad"
					},
					{
						data: "Uni"
					},
					{
						data: "Raiting"
					},
					{
						data: "MainPlace"
					}
			
				]
			});
		});
	</script>
}

