
@{
	ViewBag.Title = "AllRaitingEventInfos";
}

<h2>Материалы текущего рейтинга</h2>
@if (User.IsInRole("SquadManager"))
{
	<a class="btn btn-warning" href="/raitings/raitingeventinfoform">Создать</a>
}
@if (User.IsInRole("RegionalManager"))
{
	<a id="js-makelist" class="btn btn-warning">Составить рейтинг</a>
}
<table id="raitingeventinfos" class="table table-bordered table-hover">
	<thead>
		<tr>
				<th></th>
				<th>Отряд</th>
				<th>Штаб</th>
				<th>Мероприятие</th>
				<th>Тип участия</th>
				<th>Участников</th>
				<th>Вложений</th>
				<th>Добавлено</th>
				<th>Статус</th>
			</tr>
	</thead>
	<tbody>
	</tbody>
</table>
@section scripts
{
	<script>
		$(document).ready(function () {
			//Используем плагин для поиска и сортировки
			var table = $('#raitingeventinfos').DataTable({
				ajax: {
					url: "/api/raitingeventinfos",
					dataSrc: ""
				},
				columns: [
					{
						data: "Id",
						render: function (data) {
							return "<a href ='/raitings/editraitingeventinfo/" + data + "'>" + "<img src='https://icons.iconarchive.com/icons/icons8/windows-8/512/Editing-Edit-icon.png' width='25' height='25'>" + "</a>";
						}

					},
					{
						data: "Squad"
					},
					{
						data: "Uni"
					},
					{
						data: "Event"
					},
					{
						data: "MembershipType"
					},
					{
						data: "MembershipCount"
					},
					{
						data: "FilesCount"
					},
					{
						data: "CreateDate"
					},
					{
						data: "Status"
					}
				]
			});
			$("#js-makelist").on("click", function () {
				var button = $(this);
				bootbox.confirm("Вы уверены, что хотите составить рейтинг по текущим материалам?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/raitingplaces/",
							method: "POST",
							success: function () {
								bootbox.alert("Рейтинг составлен. Просмотрите его.", function () {
									window.location = "/raitings/allraitingplaces"
								}
								);
							}

						});
					}
				});
			});
		});
	</script>
}

