@model dynamic
@{
	ViewBag.Title = "AllPeople";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Члены организации</h2>
<button class="btn btn-warning js-exclude">Исключить</button>
<table id="people" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th></th>
			<th>ФИО</th>
			<th>Дата рождения</th>
			<th>Телефон</th>
			<th>Номер членского билета</th>
			<th>Отряд</th>
			<th>Статус</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
@section scripts
{
	<script>
		$(document).ready(function () {
			//Используем плагин для поиска и сортировки
			var table = $('#people').DataTable({
				ajax: {
					url: "/api/people",
					dataSrc: ""
				},
				columns: [
					{
						data: "Id",
						render: function (data) {
						return "<input id="+data+" type=checkbox>"}
					},
					{
						data: "FIO",
						render: function (data, type, person) {
							return "<a href ='/people/edit/" + person.Id + "'>" + person.FIO + "</a>";
						}
					},
					{
						data: "DateofBirth"
					},
					{
						data: "PhoneNumber"
					},
					{
						data: "MembershipNumber"
					},
					{
						data: "SquadName"
					},
					{
						data: "StatusName"
					}
				]
			});
			$(".js-exclude").on("click", function () {
				var button = $(this);
				bootbox.confirm("Вы уверены, что хотите исключить члена(ов) организации?", function (result) {
					if (result) {
						$.ajax({
							url: "/people/",
							method: "DELETE",
							success: function () {
								table.row()
								button.remove();
							}

						});
					}
				});
			});
		});
	</script>
}
