@model dynamic
@{
	ViewBag.Title = "PersonMainForm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Личный кабинет</h2>
<div class="row">
<button class="btn btn-warning js-exclude">Подать заявку на вступление</button>
<button class="btn btn-warning js-exclude">Подать заявку на переход</button>
<button class="btn btn-default js-exclude">Выйти из организации</button>
</div>

